@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Baybayin';
  src: url('/fonts/TintangBaybayin.otf');
}

@font-face {
  font-family: 'Buhid';
  src: url('/fonts/TintangBuhid.otf');
}

@font-face {
  font-family: 'Tagbanwa';
  src: url('/fonts/TintangTagbanwa.otf');
}

@font-face {
  font-family: 'Hanunoo';
  src: url('/fonts/TintangHanunuo.otf');
}